<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Resume Builder</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body class="h-screen tracking-wider">
  {{{body}}}
</body>

</html>