<div class="main h-full flex flex-cols">
    <div class="left-side basis-4/12 bg-black text-white">
        <h1 class="text-lg font-bold text-center mt-2">Resume Builder</h1>
    </div>
    <div class="right-side basis-8/12 bg-gray-200 justify-center overflow-auto">
        <h1 class="text-lg font-bold text-center">Resume Preview</h1>
        <div class="ml-5 resume-container mb-5">
            <div class="a4-page w-[794px] h-[1123px] bg-white border border-black shadow-lg"></div>
        </div>
    </div>
</div>