<div class="main h-full flex flex-cols">
    <div class="left-side basis-4/12 bg-black text-white">
        <h1 class="text-lg font-bold text-center mt-2">Resume Builder</h1>
    </div>
    <div class="right-side basis-8/12 bg-gray-200 overflow-auto">
        <h1 class="text-lg font-bold text-center">Resume Preview</h1>
        <div class="resume-container mt-2 mb-5 flex items-center justify-center">
            <div class="a4-page w-[794px] h-[1123px] bg-white border border-black shadow-lg flex">
                <div class="resume-left bg-[#303c54] basis-4/12 text-white flex flex-col">
                    <div class="bg-gray-500 text-black basis-2/12">
                        left upper side
                    </div>
                    <div class="basis-10/12">
                        left lower side
                    </div>
                </div>
                <div class="resume-right basis-8/12 flex flex-col">
                    <div class="right-upper-side bg-yellow-200 basis-1/12">right upper side</div>
                    <div class="right-lowerside basis-11/12">right lower side</div>
                </div>
                
            </div>
        </div>
    </div>
</div>