<div class="main h-full flex flex-cols">
    {{! Editor }}
    <div class="left-side basis-4/12 bg-black text-white overflow-auto">
        <div class="left-section-heading mb-3 pt-3 pb-2 flex ">
            <h1 class="text-md font-bold text-center basis-[60%]">TIMSCDR RESUME BUILDER</h1>
            <div id="openModal" class=" basis-[40%] flex justify-center items-center cursor-pointer"><i class="fa-solid fa-square-plus mr-2"></i> Add new section</div>
        </div>
        <div id="createSection" class="fixed z-10 text-black inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-sm">
                <h2 class="text-xl font-bold mb-4">Enter Section Name</h2>
                <input type="text" id="nameInput" class="border p-2 w-full mb-4" placeholder="Section name">
                <div class="flex justify-end">
                    <button id="cancelButton" class="px-4 py-2 bg-gray-300 text-gray-800 rounded mr-2">Cancel</button>
                    <button id="saveButton" class="px-4 py-2 bg-black text-white rounded">Create</button>
                </div>
            </div>
        </div>
        <div class="editor-pane">
            <h2 id="accordion-color-heading-0">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-0" aria-expanded="true"
                    aria-controls="accordion-color-body-1">
                    <span>Basic Information</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-0" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 space-y-3 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <div>
                        <label for="name">Your Name:</label>
                        <input type="text" id="name" class="editor-field text-black" data-target="#preview-name"
                            placeholder="Enter your Name" />
                    </div>
                    <div>
                        <label for="batch">MCA Batch:</label>
                        <input type="text" id="name" class="editor-field text-black" data-target="#preview-batch"
                            placeholder="Enter your MCA Batch" />
                    </div>
                    <div>
                        <label for="photo">Upload Photo:</label>
                        <input type="file" id="fileInput" accept="image/*">
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-1">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-1" aria-expanded="true"
                    aria-controls="accordion-color-body-1">
                    <span>About Me</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 space-y-3 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <div>
                        <label for="dob">Date of Birth:</label>
                        <input type="text" id="dob" class="editor-field text-black" data-target="#preview-dob"
                            placeholder="Enter your Date of Birth" />
                    </div>

                    <div>
                        <label for="dob">Age:</label>
                        <input type="text" id="age" class="editor-field text-black" data-target="#preview-age"
                            placeholder="Enter your Age" />
                    </div>

                    <div>
                        <label for="dob">Gender:</label>
                        <input type="text" id="gender" class="editor-field text-black" data-target="#preview-gender"
                            placeholder="Enter your Gender" />
                    </div>

                    <div>
                        <label for="dob">Birth Place:</label>
                        <input type="text" id="birth-place" class="editor-field text-black"
                            data-target="#preview-birth-place" placeholder="Enter your birth place" />
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-2">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-2" aria-expanded="false"
                    aria-controls="accordion-color-body-2">
                    <span>Contact</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 space-y-3 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <div>
                        <label for="dob">Address:</label>
                        <input type="text" id="address" class="editor-field text-black" data-target="#preview-address"
                            placeholder="Enter your address" />
                    </div>

                    <div>
                        <label for="dob">Phone:</label>
                        <input type="text" id="phone" class="editor-field text-black" data-target="#preview-phone"
                            placeholder="Enter your phone number" />
                    </div>

                    <div>
                        <label for="dob">Email:</label>
                        <input type="text" id="email" class="editor-field text-black" data-target="#preview-email"
                            placeholder="Enter your email" />
                    </div>

                    <div>
                        <label for="dob">Linkedin:</label>
                        <input type="text" id="linkedin" class="editor-field text-black" data-target="#preview-linkedin"
                            placeholder="Enter your linkedin" />
                    </div>
                    <div>
                        <label for="dob">Github:</label>
                        <input type="text" id="github" class="editor-field text-black" data-target="#preview-github"
                            placeholder="Enter your github" />
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-3">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-3" aria-expanded="false"
                    aria-controls="accordion-color-body-3">
                    <span>Interests</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border space-y-3 border-b-0 border-gray-200 dark:border-gray-700">
                    <div>
                        <label for="interest">Interest 1:</label>
                        <input type="text" id="interest1" class="editor-field text-black" data-target="#preview-interest1"
                            placeholder="Enter your Interest" />
                    </div>

                    <div>
                        <label for="interest">Interest 2:</label>
                        <input type="text" id="interest2" class="editor-field text-black" data-target="#preview-interest2"
                            placeholder="Enter your Interest" />
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-4">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-4" aria-expanded="false"
                    aria-controls="accordion-color-body-4">
                    <span>Languages Known</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border space-y-3 border-b-0 border-gray-200 dark:border-gray-700">
                    <div>
                        <label for="language">Interest 1:</label>
                        <input type="text" id="language1" class="editor-field text-black" data-target="#preview-language1"
                            placeholder="Enter your language" />
                    </div>

                    <div>
                        <label for="language">Interest 2:</label>
                        <input type="text" id="language2" class="editor-field text-black" data-target="#preview-language2"
                            placeholder="Enter your language" />
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-5">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-5" aria-expanded="false"
                    aria-controls="accordion-color-body-2">
                    <span>Technical Skills</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-5" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border space-y-3 border-b-0 border-gray-200 dark:border-gray-700">
                    <div class="space-y-1">
                        <label for="proglanguage">Programming Languages:</label>
                        <br>
                        <label for="dbs">Language 1:</label>
                        <input type="text" id="proglanguage1" class="editor-field text-black" data-target="#preview-proglanguage1"
                            placeholder="Enter a programming language" />
                        <br>
                        <label for="dbs">Language 2:</label>
                        <input type="text" id="proglanguage2" class="editor-field text-black" data-target="#preview-proglanguage2"
                            placeholder="Enter a programming language" />
                    </div>

                    <div class="space-y-1">
                        <label for="dbs">Databases:</label>
                        <br>
                        <label for="dbs">Database 1:</label>
                        <input type="text" id="db1" class="editor-field text-black" data-target="#preview-db1"
                            placeholder="Enter your Database" />
                        <br>
                        <label for="dbs">Database 2:</label>
                        <input type="text" id="db2" class="editor-field text-black" data-target="#preview-db2"
                            placeholder="Enter your Database" />
                    </div>
                    <div class="space-y-1">
                        <label for="dbs">Technologies/Frameworks:</label>
                        <br>
                        <label for="dbs">Technology 1:</label>
                        <input type="text" id="techg1" class="editor-field text-black" data-target="#preview-techg1"
                            placeholder="Enter your technology" />
                        <br>
                        <label for="dbs">Technology 2:</label>
                        <input type="text" id="techg2" class="editor-field text-black" data-target="#preview-techg2"
                            placeholder="Enter your technology" />
                        <br>
                        <label for="dbs">Technology 3:</label>
                        <input type="text" id="techg3" class="editor-field text-black" data-target="#preview-techg3"
                            placeholder="Enter your technology" />
                    </div>
                </div>
            </div>

            <h2 id="accordion-color-heading-6">
                <button type="button"
                    class="accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-6" aria-expanded="true"
                    aria-controls="accordion-color-body-1">
                    <span>Education</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-6" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 border space-y-3 border-b-0 border-gray-200 dark:border-gray-700">
                   
                    <div class="mca space-y-1">
                         <label for="pg" class="font-bold">Post Graduation:</label>
                         <br>
                        <label for="mca_cgpa">MCA CGPA:</label>
                        <input type="text" id="mca_cgpa" class="editor-field text-black" data-target="#preview-mca_cgpa"
                            placeholder="Enter your language" />
                        <br>
                        <label for="mca_year">Academic Year:</label>
                        <input type="text" id="mca_year" class="editor-field text-black" data-target="#preview-mca_year"
                            placeholder="Enter your language" />
                    </div>
                    
                    <div class="mca space-y-1">
                        <label for="ug" class="font-bold" >Graduation:</label>
                        <br>
                        <label for="ug_degree">Degree:</label>
                        <input type="text" id="ug_degree" class="editor-field text-black" data-target="#preview-ug_degree"
                            placeholder="Enter your language" />
                        <br>
                        <label for="ug_college">College:</label>
                        <input type="text" id="ug_college" class="editor-field text-black" data-target="#preview-ug_college"
                            placeholder="Enter your language" />
                        <br>
                        <label for="ug_cgpa">CGPA:</label>
                        <input type="text" id="ug_cgpa" class="editor-field text-black" data-target="#preview-ug_cgpa"
                            placeholder="Enter your language" />
                        <br>
                        <label for="ug_year">Academic Year:</label>
                        <input type="text" id="ug_year" class="editor-field text-black" data-target="#preview-ug_year"
                            placeholder="Enter your language" />
                        <br>
                        <label for="mca_cgpa">University:</label>
                        <input type="text" id="ug_university" class="editor-field text-black" data-target="#preview-ug_university"
                            placeholder="Enter your language" />
                    </div>

                </div>
            </div>

            <h2 id="accordion-color-heading-7">
                <button type="button"
                    class=" accordion-heading flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-color-body-7" aria-expanded="false"
                    aria-controls="accordion-color-body-2">
                    <span>HSC & SSC</span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-color-body-7" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border space-y-3 border-b-0 border-gray-200 dark:border-gray-700">                  
                    <div class="mca space-y-1">
                        <label for="hsc" class="font-bold" >Class XII:</label>
                        <br>
                        <label for="hsc_college">College:</label>
                        <input type="text" id="hsc_college" class="editor-field text-black" data-target="#preview-hsc_college"
                            placeholder="Enter your college" />
                        <br>
                        <label for="hsc_score">Score:</label>
                        <input type="text" id="hsc_score" class="editor-field text-black" data-target="#preview-hsc_score"
                            placeholder="Enter your score" />
                        <br>
                        <label for="hsc_year">Passing year:</label>
                        <input type="text" id="hsc_year" class="editor-field text-black" data-target="#preview-hsc_year"
                            placeholder="Enter your year" />
                        <br>
                        <label for="hsc_stream">Stream:</label>
                        <input type="text" id="hsc_stream" class="editor-field text-black" data-target="#preview-hsc_stream"
                            placeholder="Enter your stream" />
                        <br>
                        <label for="hsc_board">Class XII Board:</label>
                        <input type="text" id="hsc_board" class="editor-field text-black" data-target="#preview-hsc_board"
                            placeholder="Enter your board" />
                    </div>
                    
                    <div class="ssc space-y-1">
                        <label for="ssc" class="font-bold" >Class X:</label>
                        <br>
                        <label for="ssc_school">School:</label>
                        <input type="text" id="ssc_school" class="editor-field text-black" data-target="#preview-ssc_school"
                            placeholder="Enter your school" />
                        <br>
                        <label for="ssc_score">Score:</label>
                        <input type="text" id="ssc_score" class="editor-field text-black" data-target="#preview-ssc_score"
                            placeholder="Enter your score" />
                        <br>
                        <label for="ssc_year">Passing year:</label>
                        <input type="text" id="ssc_year" class="editor-field text-black" data-target="#preview-ssc_year"
                            placeholder="Enter your year" />
                        <br>
                        <label for="ssc_board">Class X Board:</label>
                        <input type="text" id="ssc_board" class="editor-field text-black" data-target="#preview-ssc_board"
                            placeholder="Enter your board" />
                    </div>

                </div>
            </div>

            

        </div>
    </div>

    {{! Preview }}
    <div class="right-side basis-8/12 bg-gray-200 overflow-auto">
        <div class="right-upper-bar bg-[#303c54] text-white flex">
            <h1 class="basis-[30%] text-lg font-bold ml-5">RESUME PREVIEW</h1>

            <div id="report-bug"
                class="basis-[18%] action-buttons bg-red-500 text-white text-center flex justify-center items-center cursor-pointer">
                <span><i class="fa-solid fa-bug mr-1"></i></span>
                Report a bug
            </div>
            <div id="github"
                class="basis-[18%] action-buttons bg-black text-white text-center flex justify-center items-center cursor-pointer">
                <span><i class="fa-brands fa-github mr-2"></i></span>
                <a href="https://github.com/vivekx01/timscdr_resume_builder" target="_blank">Source code</a>
            </div>
            <div id="export-json"
                class="basis-[16%] action-buttons bg-yellow-500 text-black text-center flex justify-center items-center cursor-pointer">
                <span><i class="fa-solid fa-file-export"></i></span>
                Export JSON
            </div>
            <div
                class="basis-[16%] action-buttons bg-green-500 text-white text-center flex flex-col justify-center items-center">
                <div id="download-loader" class="loader hide"></div>
                <div id="generate-pdf-btn" class="cursor-pointer">
                    <span><i class="fa-solid fa-download"></i></span>
                    Download
                </div>
            </div>
        </div>
        <div class="resume-container mt-2 mb-5 flex items-center justify-center">
            <div class="a4-page w-[794px] h-[1123px] bg-white border border-grey-400 shadow-lg flex">
                {{! Dependencies }}
                <script src="https://cdn.tailwindcss.com"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
                    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
                    crossorigin="anonymous" referrerpolicy="no-referrer" />
                {{! Css for clip hexagon }}
                <style>
                    .clip-hexagon {
                        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%,
                                25% 100%, 0% 50%);
                    }
                </style>
                {{! Resume Left }}
                <div class="resume-left relative basis-4/12 text-white flex flex-col">
                    <div class="bg-white text-black basis-[23%] flex flex-col items-center">
                        <img class="mt-4" src="http://localhost:6868/images/timscdr_logo.png" alt="Timscdr Logo"
                            height="150px" width="150px" />
                    </div>
                    <img id="preview-photo"
                        class="object-cover clip-hexagon w-40 h-38 overflow-hidden absolute left-1/2 -translate-x-1/2 top-[168px]"
                        src="http://localhost:6868/images/display_photo.jpg" alt="student photo" />
                    <div class="basis-[77%] bg-[#303c54] flex flex-col items-center">
                        <div class="resume-left-content text-white mt-[100px] flex flex-col h-[100%] w-[100%]">
                            <div class="section-1 basis-[15%] text-white">
                                <div class="section-container ml-5">
                                    <h1 class="text-sm font-semibold inline-block border-b-2 border-white">ABOUT ME</h1>
                                    <div class="section-details mt-2">
                                        <p class="text-[0.6rem]">Date of Birth:
                                            <span id="preview-dob">14/08/2001</span>
                                        </p>
                                        <p class="text-[0.6rem]">Age:
                                            <span id="preview-age">22</span>
                                        </p>
                                        <p class="text-[0.6rem]">Gender:
                                            <span id="preview-gender">Male</span>
                                        </p>
                                        <p class="text-[0.6rem]">Birth Place:
                                            <span id="preview-birth-place">Mumbai</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="section-2 basis-[22%]">
                                <div class="section-container ml-5">
                                    <h1 class="text-sm font-semibold inline-block border-b-2 border-white">CONTACT</h1>
                                    <div class="section-details mt-2 space-y-1">
                                        <div class="location flex space-x-2">
                                            <span><i class="fa-solid fa-location-dot"></i> </span>
                                            <p class="text-[0.6rem] flex justify-center items-center">
                                                <span id="preview-address">H/200, Janta Colony, Navneet
                                                    Chowk, Worli Village, Mumbai - 400030</span>
                                            </p>
                                        </div>
                                        <div class="mobile flex space-x-2">
                                            <span><i class="fa-solid fa-phone"></i> </span>
                                            <p class="text-[0.6rem] flex justify-center items-center">
                                                +91
                                                <span id="preview-phone">9619037203</span>
                                            </p>
                                        </div>
                                        <div class="email flex space-x-2">
                                            <span><i class="fa-solid fa-envelope"></i> </span>
                                            <p class="text-[0.6rem] flex justify-center items-center">
                                                <span id="preview-email">viveks95944@gmail.com</span>
                                            </p>
                                        </div>
                                        <div class="linkedin flex space-x-2">
                                            <span><i class="fa-brands fa-linkedin"></i> </span>
                                            <a class="text-[0.6rem] flex justify-center items-center"
                                                href="https://www.linkedin.com/in/vivekx01/" id="preview-linkedin">https://www.linkedin.com/in/vivekx01/</a>
                                        </div>
                                        <div class="github flex space-x-2">
                                            <span><i class="fa-brands fa-github"></i> </span>
                                            <a class="text-[0.6rem] flex justify-center items-center"
                                                href="https://github.com/vivekx01" id="preview-github">https://github.com/vivekx01</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-3 basis-[10%]">
                                <div class="section-container ml-5">
                                    <h1 class="text-sm font-semibold inline-block border-b-2 border-white">INTERESTS
                                    </h1>
                                    <div class="section-details mt-2 space-y-2">
                                        <li class="text-[0.6rem]" id="preview-interest1">Watching anime</li>
                                        <li class="text-[0.6rem]" id="preview-interest2">Exploring New Tech</li>
                                    </div>
                                </div>
                            </div>
                            <div class="section-4 basis-[10%]">
                                <div class="section-container ml-5">
                                    <h1 class="text-sm font-semibold inline-block border-b-2 border-white">LANGUAGES
                                        KNOWN</h1>
                                    <div class="section-details mt-2 space-y-2">
                                        <li class="text-[0.6rem]" id="preview-language1">English</li>
                                        <li class="text-[0.6rem]" id="preview-language2">Hindi</li>
                                    </div>
                                </div>
                            </div>
                            <div class="section-5 basis-[40%]">
                                <div class="section-container ml-5">
                                    <h1 class="text-sm font-semibold inline-block border-b-2 border-white">TECHNICAL
                                        SKILLS</h1>
                                    <div class="section-details mt-2">
                                        <div class="programming-languages space-y-2">
                                            <h2 class="text-[0.6rem]">Programming Languages:</h2>
                                            <li class="text-[0.6rem]" id="preview-proglanguage1">Javascript/TypeScript</li>
                                            <li class="text-[0.6rem]" id="preview-proglanguage2">Python</li>
                                        </div>

                                        <div class="databases mt-5 space-y-2">
                                            <h2 class="text-[0.6rem]">Databases:</h2>
                                            <li class="text-[0.6rem]" id="preview-db1">PostgreSQL</li>
                                            <li class="text-[0.6rem]" id="preview-db2">MongoDB</li>
                                        </div>

                                        <div class="technologies mt-5 space-y-2">
                                            <h2 class="text-[0.6rem]">Technologies/frameworks:</h2>
                                            <li class="text-[0.6rem]" id="preview-techg1">Angular</li>
                                            <li class="text-[0.6rem]" id="preview-techg2">Django Framework</li>
                                            <li class="text-[0.6rem]" id="preview-techg3">FAST API</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{! Resume Right }}
                <div class="resume-right basis-8/12 flex flex-col">
                    <div class="right-upper-side basis-[9%] flex flex-col justify-center">
                        <h1 id="preview-name" class="text-5xl text-[#424544] font-bold ml-2">Ryomen Sukuna</h1>
                    </div>
                    <div class="basis-[1%] flex">
                        <div class="text-xs font-bold ml-3 basis-[30%] text-[#424544]">
                            MCA Batch (<span id="preview-batch">2022-24</span>)
                        </div>
                        <div class="bg-[#303c54] basis-[67%]"></div>
                        <div class="basis-[3%]"></div>
                    </div>
                    <div class="right-lowerside basis-[90%] flex flex-col">
                        <div class="main-content flex flex-col basis-[94%] text-[#424544] ml-3">
                            <div class="section-1 basis-[17%] flex justify-center">
                                <div class="section-container h-[100%] w-[90%]">
                                    <h1
                                        class="section-title text-md font-bold mt-5 inline-block border-b-2 border-[#303c54]">
                                        EDUCATION</h1>
                                    <p class="masters text-xs font-bold mt-2">MCA | Thakur
                                        Institute of Management Studies, Career Development &
                                        Research (TIMSCDR), Mumbai | <span id="preview-mca_cgpa">8.38</span> CGPA | <span id="preview-mca_year">2022-24</span>
                                    </p>
                                    <p class="masters-uni text-xs">University of Mumbai</p>

                                    <p class="masters text-xs font-bold mt-2"><span id="preview-ug_degree">BSC COMPUTER SCIENCE</span>
                                        | <span id="preview-ug_college">Guru Nanak Khalsa College Of Arts, Science and Commerce</span> |
                                        <span id="preview-ug_cgpa">9.67</span> CGPA | <span id="preview-ug_year">2019-22</span>
                                    </p>
                                    <p class="masters-uni text-xs" id="preview-ug_university">University of Mumbai</p>
                                </div>
                            </div>
                            <div class="section-2 basis-[15%] flex justify-center">
                                <div class="section-container h-[100%] w-[90%]">
                                    <h1
                                        class="section-title text-md font-bold mt-2 inline-block border-b-2 border-[#303c54]">
                                        HSC & SSC</h1>
                                    <p class="hsc text-xs font-bold mt-2">
                                        XII (HSC) | <span id="preview-hsc_college">Guru Nanak Khalsa College</span> | <span id="preview-hsc_score">65.08</span> % | <span id="preview-hsc_year">2019</span>
                                    </p>
                                    <p class="hsc-stream text-xs">
                                        <span id="preview-hsc_stream">Science</span>
                                    </p>
                                    <p class="hsc-board text-xs">
                                        <span id="preview-hsc_board">Maharashtra State Board of Secondary and Higher Secondary</span>
                                    </p>

                                    <p class="ssc text-xs font-bold mt-2">
                                        X (SSC) | <span id="preview-ssc_school">Adarsh English High School</span> | <span id="preview-ssc_score">84.20</span> % | <span id="preview-ssc_year">2017</span>
                                    </p>
                                    <p class="ssc-board text-xs">
                                        <span id="preview-ssc_board">Maharashtra State Board of Secondary and Higher Secondary</span>
                                    </p>
                                </div>
                            </div>
                            <div class="editable space-y-2 basis-[68%]">
                                <div class="section-3 basis-[30%] flex justify-center">
                                    <div class="section-container h-[100%] w-[90%] space-y-2">
                                        <h1
                                            class="section-title text-md font-bold mt-1 inline-block border-b-2 border-[#303c54]">
                                            PROJECTS UNDERTAKEN</h1>
                                        <p class="job-details text-xs font-bold mt-2">
                                            INVESTOCRYPT |
                                            <a class="text-blue-700 underline"
                                                href="https://investo-crypt.web.app">https://investo-crypt.web.app</a>
                                            | Feb 2023
                                        </p>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>
                                                An online investor-focused crypto-currency price tracker
                                                and a platform that provides useful insights of the
                                                cryptocurrency market daily.
                                            </li>
                                            <li>
                                                Built using Angular, Firebase data provided by
                                                Alternative.me API
                                            </li>
                                        </div>

                                        <p class="job-details text-xs font-bold mt-2">
                                            DECENTRALISED VOTING SYSTEM |
                                            <a class="text-blue-700 underline"
                                                href="https://github.com/vivekx01/blockchain-voting-system">Github-Link</a>
                                            | May 2022
                                        </p>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>An experimental project showcasing the potential of
                                                online decentralized elections using blockchain
                                                technology.</li>
                                            <li>It is built using Angular, Django-REST, Solidity and
                                                Firebase.</li>
                                        </div>

                                        <p class="job-details text-xs font-bold mt-2">
                                            SCRAPMART |
                                            <a class="text-blue-700 underline"
                                                href="https://scrapmart.onrender.com/">https://scrapmart.onrender.com/</a>
                                            | August 2021
                                        </p>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>
                                                A search listing platform, enabling users to search for
                                                local scrap dealers in their area. The web application is
                                                optimized to work on all devices.
                                            </li>
                                            <li>
                                                Built using Django framework and Postgresql.
                                            </li>
                                        </div>

                                    </div>
                                </div>
                                <div class="section-4 basis-[12%] flex justify-center">
                                    <div class="section-container h-[100%] w-[90%]">
                                        <h1
                                            class="section-title text-md font-bold mt-1 inline-block border-b-2 border-[#303c54]">
                                            FUNDAMENTALS KNOWN</h1>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>Database Management Systems (DBMS)</li>
                                            <li>Networking Fundamentals</li>
                                            <li>Cloud Fundamentals</li>
                                            <li>Tools – Git/Github, Docker, VS Code, Linux Basics</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-5 basis-[12%] flex justify-center">
                                    <div class="section-container h-[100%] w-[90%]">
                                        <h1
                                            class="section-title text-md font-bold mt-1 inline-block border-b-2 border-[#303c54]">
                                            CERTIFICATIONS</h1>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>Blockchain and its Applications – NPTEL and IIT
                                                Kharagpur</li>
                                            <li>Ethical Hacking – NPTEL and IIT Kharagpur</li>
                                            <li>Angular Developer Bootcamp from LearnCodeOnline</li>
                                            <li>Career Edge Course on Soft Skills - TCS iON</li>
                                        </div>

                                    </div>
                                </div>
                                <div class="section-6 basis-[12%] flex justify-center">
                                    <div class="section-container h-[100%] w-[90%]">
                                        <h1
                                            class="section-title text-md font-bold mt-1 inline-block border-b-2 border-[#303c54]">
                                            CO-CURRICULAR AND EXTRA-CURRICULAR ACTIVITIES
                                        </h1>
                                        <div class="bullet-points text-xs mt-1">
                                            <li>Member of Research & Development Committee at TIMSCDR</li>
                                            <li>Member of Department of Lifelong Learning and Extension
                                                (DLLE) at TIMSCDR
                                            </li>
                                            <li>Member of Vista 2023 Committee</li>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="basis-[6%] flex flex-col items-center">
                            <hr class="border border-[#303c54] w-[98%]" />
                            <div class="section-container font-semibold text-[0.6rem] h-[90%] w-[90%] tracking-normal">
                                <p class="mt-1">
                                    <span class="font-bold">Institute Address:</span>
                                    Thakur Institute of Management Studies Career Development and
                                    Research - Thakur Education Campus, Thakur Village, Kandivali
                                    East. Mumbai 400101.
                                </p>
                                <p>
                                    Phone Nos: 022- 28840484/91. E-mail ID:
                                    timscdr.tnp@thakureducation.org
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>